@model LandingPageVM
@{
    ViewData["Title"] = "Home Page";
}
@{
    var random = new Random();
    var popularCourse = Model.Courses.OrderBy(x => random.Next()).Take(3);
}
<div class="container" style="background:black">
    <img src="/images/index-bg.jpg" alt="Certificate" style="opacity:0.6" />
    <div class="overlay">
        <h2 class="text-white">Learning Today,<br>Leading Tomorrow</h2>
        <p>We are team of talented designers making websites with Bootstrap</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="courses.html" class="btn btn-outline-light rounded-pill">Get Started</a>
        </div>
    </div>
</div>
<div class="row mt-5" style="margin-left:100px">
    <div class="col-6 col-sm-6">
        <h3 style="font-weight:bold; font-size:32px">ViLearning</h3>
        <p class="fst-italic">
            Dịch vụ học qua mạng gồm có:
        </p>
        <ul style="list-style:none; padding:0;">
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Chương trình ôn, luyện thi</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Thi thử đại học trực tuyến</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Dành cho học sinh trung học phổ thông, trung học cơ sở và tiểu học.</span></li>
        </ul>
        <a href="#" class="btn btn-readmore"><span>Tìm hiểu thêm</span> <i class="bi bi-arrow-right"></i></a>
    </div>
    <div class="col-6 col-sm-6">
        <img src="/images/about.jpg" style="width:60%; height:auto" />
    </div>
</div>

<div style="display: flex; justify-content: space-around; padding: 20px; background-color: #f8f9fa;">
    <div style="text-align: center;">
        <h1 style="color: #28a745; font-size:48px; font-weight:bold">@Model.UserList.Count()</h1>
        <p>Người dùng</p>
    </div>
    <div style="text-align: center;">
        <h1 style="color: #28a745; font-size:48px; font-weight:bold">@Model.Courses.Count()</h1>
        <p>Khóa học</p>
    </div>
    <div style="text-align: center;">
        <h1 style="color: #28a745; font-size:48px; font-weight:bold">@Model.TeacherList.Count()</h1>
        <p>Giáo viên</p>
    </div>
</div>
<div class="row mt-5" style="margin-left:100px">
    <div class="col-sm-1" style="text-align:right; font-size:16px; padding:12px">KHÓA HỌC</div>
    <div class="col-sm-2" style="align-content:center; padding:0;"><hr width="85%"; size="5px"; color="#5fcf80" style="opacity:1;" /></div>
    <h3 style="margin-left:24px; padding:0; font-weight:1000;font-size:32px">Khóa học phổ biến</h3>
</div>
<div class="container mt-5">
    <div class="row" style="margin:0 100px">

        @foreach(var course in popularCourse)
        {
            <a asp-action="Details" asp-route-CourseId="@course.CourseId" style="text-decoration:none" >
                <div class="col-sm-4">
                    <div class="card">
                        <img src="@course.CoverImgUrl" class="card-img-top rounded mx-auto d-block" alt="@course.CourseName" style=" height: 100%; max-height:300px;">
                        <div class="card-body">
                            <span class="badge badge-success">@course.Subject?.Name</span>
                            <h5 class="card-title mt-2">@course.CourseName</h5>
                            <p class="card-text">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="d-flex align-items-center">
                                    <span class="ms-2">Giáo viên: @course.ApplicationUser?.FullName</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a class="btn btn-success">@course.Subject.Name</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-between bg-transparent border-top-0">                           
                            <span class="ms-auto price" style="font-size:18px; font-weight:bold;">@course.Price?.ToString("N0") VNĐ</span>
                        </div>
                    </div>
                </div>
             </a>
            

        }
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/Student/LandingPage.css">
}