@model List<Invoice>

<div class="course-header">
    <h1 class="text-white">DANH SÁCH KHÓA HỌC ĐÃ MUA</h1>
    <p>Kiểm soát tri thức - Hướng tới thành công.</p>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item text-white"><a asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white" aria-current="page">Danh sách khóa học</li>
    </ol>
</nav>
@if(Model.Count == 0)
{
    <h1 class="text-center mt-5">Bạn chưa mua khóa học nào</h1>
}
<div class="container mt-5">
    <div class="row" style="margin:0 100px">

        @foreach (var invoice in Model)
        {
            <div class="col-sm-4 mb-4">
                <a asp-action="Details" asp-route-CourseId="@invoice.Course.CourseId" style="text-decoration:none">
                    <div class="card h-100 d-flex flex-column">
                        <img src="@invoice.Course.CoverImgUrl" class="card-img-top rounded mx-auto d-block" alt="@invoice.Course.CourseName" style=" height: 300px; width:100%; object-fit:cover">
                        <div class="card-body d-flex flex-column">
                            <span class="badge badge-success">@invoice.Course.Subject?.Name</span>
                            <h5 class="card-title mt-2">@invoice.Course.CourseName</h5>
                            <p class="card-text">@invoice.Course.Description</p>
                            <div class="mt-auto d-flex justify-content-between align-items-center mt-3">
                                <div class="d-flex align-items-center">
                                    <span class="ms-2">Giáo viên: @(invoice.Course.ApplicationUser.FullName == null ? invoice.Course.ApplicationUser.Email : invoice.Course.ApplicationUser.FullName)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a asp-action="Search" asp-route-query="@invoice.Course.Subject.Name" class="btn btn-success">@invoice.Course.Subject.Name</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-between bg-transparent border-top-0">
                            <span class="ms-auto price" style="font-size:18px; font-weight:bold;">@invoice.Course.Price?.ToString("N0") VNĐ</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<a asp-action="ViewTestInfo" asp-route-lessonId="8" asp-controller="Test">vào làm bài test id 8</a>
<a asp-action="TestRanking" asp-route-lessonId="8" asp-controller="Test">vào ranking test id 8</a>
<a asp-action="TestHistory" asp-route-lessonId="8" asp-controller="Test">vào lịch sử làm bài test id 8</a>
@*Test Chat feature*@
<input type="hidden" id="hiddenUserId" value="@ViewData["userId"]" />
<div class="chatbox">
    <h3 class=" text-center" style="background: #5fcf80;">
        Messaging
    </h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div id="messagesList">
                    
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" id="messageInput" placeholder="Type a message" />
                        <button id="msg_send_btn" type="button"><i class="bi bi-send" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*End Chat feature*@
@section Styles {
    <link rel="stylesheet" href="~/css/Student/CourseList.css">
    <link rel="stylesheet" href="~/css/Student/Chat.css">
}
@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Student/Chat.js"></script>
}