@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Đăng kí";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Kết nối với tài khoản @Model.ProviderDisplayName của bạn</h2>
<hr />

<p id="external-login-description" class="text-info align-items-center">
    Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>. Vui lòng nhấp vào nút Đăng ký và xác nhận email của bạn để hoàn tất
    đăng nhập.
</p>

<div class="row align-content-center">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" value="@Model.Input.Email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đăng kí</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
